# =========================

# BUILD / GENERATED

# =========================

build/
out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.sln
*.slnx
*.vcxproj*
*.vcxproj.filters
*.ninja
*.log

# =========================

# BINARIES

# =========================

*.exe
*.dll
*.lib
*.pdb
*.ilk

# =========================

# OBJECT FILES

# =========================

*.obj
*.o
*.a

# =========================

# CMAKE / CACHE SHIT

# =========================

CMakeScripts/
Testing/
install_manifest.txt

# =========================

# IDE

# =========================

.vs/
.vscode/
.idea/

# =========================

# WINDOWS

# =========================

Thumbs.db
Desktop.ini

# =========================

# IMGUI CONFIG (локальное)

# =========================

imgui.ini

# =========================

# USER CONFIG (если не хочешь коммитить)

# =========================

config.ini

# =========================

# LOGS

# =========================

*.tlog
*.lastbuildstate

# =========================

# TEMP

# =========================

*.tmp
*.temp
